<%= form_with url: :create_comment, method: :post, scope: :add_comment do |form| %>

    <div>
      <%= form.label :text %><br>
      <%= form.text_area :text, size: "100x6" %>
    </div>

    <%= form.submit %>

  <% end %>

  <% flash.each do |name, msg| -%>
    <%= content_tag :span, msg, class: name %>
  <% end -%>