<section>
  <div>
    <%= render @user %>
  </div>
  <div class="bio-div">
    <div class="bio-details border-style">
      <h3>Bio</h3>
      <p class="user-bio">
        <%= @user.bio%>
      </p>
    </div>
    <div>
      <%= render partial: "posts/post", collection: @user.posts %>
    </div>
  </div>
  <%= render template: 'posts/new', collection: @user.posts %>
  <div class="post-btn-div d-flex">
    <button class="posts-btn border-style">
      <%= link_to 'See All Posts', user_posts_path(@user.id) %>
    </button>
  </div>
</section>