<%= form_with model: post, url: user_posts_path, method: :post, local: true, scope: :add_post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text, size: "80x6" %>
  </div>

  <%= form.submit %>
  
<% end %>