<div class="post-details-div">
  <div class="single-post-details border-style">
    <div class="title-details d-flex">
      <% if can? :destroy, @post %>
        <%= button_to "Delete this post", user_post_path(@post.author, @post), method: :delete %>
      <%end%>
      <p><%= @post.title %> by <%= @post.author.name%></p>
      <div>
        <span>Comments: <%= @post.comments_counter%></span>
        <span>Likes: <%= @post.likes_counter%></span>
      </div>
    </div>
    <div>
      <%= @post.text %>
      <%= form_with url: user_post_likes_path(@post.author, @post), method: :post, local: true do |form| %>
        <%= form.button type: :submit, class: 'link-button' do %>
          <span class="heart-icon">&#x2665;</span>
        <% end %>
      <% end %>    
    </div>   
  </div>
  
  <div class="comments-section border-style">
    <% @post.recent_comments.each do |comment|%>
      <p class="d-flex">
        <span><%= comment.author.name %>:</span>
        <span><%= comment.text %></span>
        <% if can? :delete, comment %>
          <%= button_to "Delete this comment", user_post_comment_path(comment.author, comment.post, comment), method: :delete %>
        <%end%>
      </p>
    <% end %>
  </div>
<%= render template: 'comments/new', post_id: @post.id %>
</div>
